# Visual Studio 2022
.vs/
*.user
*.rsuser
*.suo
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Roslyn cache
*.ide/

# MSTest/NUnit/XUnit
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store

# JetBrains Rider
.idea/
*.sln.iml

# Local secrets
appsettings.*.json
secrets.json
